.no-js .cmb2-tabs { display: none; }

.cmb2-tabs {  }

.cmb2-tabs .tabs-nav
{
	margin: 6px 0 0 10px;
	clear: both;
	overflow: hidden;
}

.cmb2-tabs .tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    padding: 0;
    white-space: nowrap;
	border: 1px #CCC solid;
	background-color: #EEE;
}

.cmb2-tabs .tabs-nav li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 20px;
}

.cmb2-tabs .tabs-nav li.current {
	 background-color: #FFF;
	 border-bottom: 1px #FFF solid;
 }

.cmb2-tabs ul li a:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.cmb2-tabs .tab-content
{
	padding: 10px 20px;
	border: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
	margin-top: -1px;
	background-color: #FFF;
}

.cmb2-wrap .row
{
	overflow: hidden;
	padding: 0 0 1.8em;
	margin: 0 0 .8em;
	border-bottom: 1px #E9E9E9 solid;
}

.row .stacked + .stacked { margin-top: 20px; }

.row .inline
{
	display: inline-block;
	padding-right: 20px !important;
	white-space: nowrap;
}

.row .fifth
{
	width: 20%;
	float: left;
}

.row .quarter
{
	width: 25%;
	float: left;
}

.row .third
{
	width: 33%;
	float: left;
}

.row .half
{
	width: 50%;
	float: left;
}

.row .twothirds
{
	width: 66%;
	float: left;
}

.postbox-container .row .cmb-row,
.postbox-container .row .cmb-row:not(:last-of-type),
.postbox-container .row .cmb-row.group-head,
.wp-admin .grouped .row
{
	border-bottom: 0 none !important;
	padding-bottom: 0;
	margin-bottom: 0;
}

.row span.cmb2-metabox-description { display: block; }

.postbox-container h2 span.caption
{
	display: block;
	font-size: 13px;
	line-height: 1.5;
	color: #AAA;
	font-style: italic;
	font-weight: normal;
	margin-top: 1em;
}

.postbox-container #evcd_content-group_repeat .row .cmb-th { width: auto; }
.postbox-container #evcd_content-group_repeat .row .cmb-th + .cmb-td { width: 100%; }

.ui-tabs-vertical .cmb2-wrap .cmb-td {
    float: left;
    width: 85%
}

.ui-tabs-vertical .cmb2-wrap .cmb-td span.after_field {
    display: inline-block;
    width: 90px;
    font-size: 13px;
    padding: 0 5px
}

input[id$='_section-layout1'] + label
{
	font-size: 0px;
	display: inline-block;
	height: 104px;
	width: 104px;
	background-image: url(images/layout-1-icon.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

input[id$='_section-layout2'] + label
{
	font-size: 0px;
	display: inline-block;
	height: 104px;
	width: 104px;
	background-image: url(images/layout-2-icon.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

input[id$='_section-layout3'] + label
{
	font-size: 0px;
	display: inline-block;
	height: 104px;
	width: 104px;
	background-image: url(images/layout-3-icon.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.cmb2-wrap + input[type="submit"] { margin-top: 20px; }

.big { font-size: 18px; }


.cmb2-id-evcd-feat-search-group.cmb-type-group .third:first-child
{
	width: 26%;
	margin-right: 7%;
}

.cmb2-id-evcd-feat-search-group.cmb-type-group .third:first-child .cmb-th { float: left; }

.cmb2-id-evcd-feat-search-group.cmb-type-group .cmb-th,
.cmb2-id-evcd-feat-search-group.cmb-type-group .cmb-th + .cmb-td { width: auto; float: none; }
